@media only screen and (max-width: 1024px) {
  .hero-section .hero-container .hero-product-image {
    position: static;
    height: auto;
    margin-top: 30px;
  }

  .header-section .navbar .navbar-brand .desktop-logo {
    display: none;
  }

  .header-section .navbar .navbar-brand .mobile-logo {
    display: block;
  }

  .footer-section .footer-logo {
    width: 230px;
  }

  .footer-section ul li a {
    font-size: 13px;
  }

  .footer-section .footer-contact {
    margin: 0 auto;
  }

  .hero-section .hero-content h1 {
    font-size: 22px;
    line-height: 1.52em;
  }

  .hero-section .hero-content p {
    font-size: 17px;
    width: 100%;
  }

  .hero-section .hero-content .hero-description p {
    width: 100%;
  }

  .planing-section {
    padding: 0;
  }

  .planing-section .container {
    padding: 0;
  }

  .planing-section .planing-content h1 {
    font-size: 26px;
    line-height: 1.3em;
  }

  .planing-section .planing-content p {
    font-size: 14px;
    line-height: 1.5em;
  }

  .planing-section .planing-content .planing-card .floater {
    font-size: 61px;
    line-height: 1.5em;
  }

  .planing-section .planing-content .planing-card .card-description h4 {
    font-size: 17px;
    line-height: 1.5em;
  }

  .planing-section .planing-content .planing-card img {
    position: static;
    margin-top: -93px;
    object-fit: cover;
  }

  .planing-section .planing-content .planing-card .card-description {
    margin-top: -10px;
    background: #632329;
  }

  .planing-section .planing-content .planing-card .card-description p {
    font-size: 14px;
    line-height: 1.56em;
    margin-top: 9px;
  }


  .progress-section .progress-content h1 {
    font-size: 27px;
    line-height: 1.3em;
    padding: - 20px;
  }

  .progress-section .progress-content p {
    font-size: 14px;
    text-align: left;
    padding: 0 12px;
    margin-top: 20px;
  }

  .results-section,
  .progress-section {
    padding: 60px 0;
  }

  .results-section h1 {
    font-size: 26px;
    line-height: 1.3em;
    padding: - 20px;
  }

  .results-section .results-container img {
    position: static;
    margin-top: 60px;
    padding: 0 15px;
  }

  .results-section .results-description {
    margin-top: 70px;
  }

  .results-section .results-description p {
    line-height: 1.3em;
    padding: 15px 25px;
  }

  .results-section .results-container>p {
    margin-top: 30px;
    font-size: 20px;
    line-height: 1.5em;
  }

  .compare-section {
    padding-top: 40px;
    padding-bottom: 130px;
  }

  .compare-section h1 {
    font-size: 26px;
  }

  .compare-section p {
    font-size: 19px;
    margin-top: 10px;
  }

  .compare-section img {
    margin-top: 10px;
  }

  .compare-section .outshines-description h1 {
    width: 100%;
    margin-top: 50px;
  }

  .compare-section .outshines-description ul {
    margin: 30px auto 0;
  }

  .keto-help-section .keto-help-container .product-images {
    margin-top: -90px;
    margin-bottom: 60px;
  }

  .keto-help-section h1 {
    font-size: 23px;
    line-height: 1.4em;
    margin: 0 auto 40px;
  }

  .keto-help-section .blog-card .blog-description {
    padding: 18px 23px 21px;
  }

  .keto-help-section .blog-card .blog-description h6 {
    font-size: 18px;
    line-height: 1.5em;
  }

  .keto-help-section .blog-card .blog-description p {
    line-height: 1.5em;
  }

  .keto-help-section {
    padding-bottom: 50px;
  }

  .offer-section {
    padding-top: 50px;
    padding-bottom: 56px;
  }

  .offer-section .special-offer {
    width: 100%;
  }

  .offer-section h1 {
    margin-top: 80px;
    font-size: 25px;
    line-height: 1.4em;
  }

  .offer-section .offer-card {
    margin-top: 45px;
    flex-flow: column;
  }

  .offer-section .offer-card .offer-card-content {
    padding: 20px;
  }

  .offer-section .offer-card .offer-card-content h6 {
    font-size: 20px;
    line-height: 1.8em;
  }

  .offer-section .offer-card .offer-card-content p {
    margin-top: 15px;
  }

  .offer-section .offer-card img {
    width: 100% !important;
    height: auto;
  }

  .offer-section .offer-card-reverse {
    flex-flow: wrap-reverse;
  }

  .offer-section .offer-description p {
    padding: 0;
    text-align: left;
    margin-top: 40px;
  }

  .comprehensive-section h1 {
    font-size: 25px;
    line-height: 1.4em;
    margin-bottom: 35px;
  }

  .comprehensive-section .comprehensive-product {
    left: 0;
  }

  .comprehensive-section .comprehensive-vector {
    position: relative;
    top: -45px;
    left: 0;
    width: 100%;
  }

  .comprehensive-section ul {
    margin: 0;
    padding-left: 35px;
  }

  .comprehensive-section ul li {
    font-size: 18px;
    line-height: 2.5em;
  }

  .comprehensive-section {
    padding-bottom: 60px;
  }

  .reveiw-section {
    padding-top: 55px;
    padding-bottom: 45px;
  }

  .reveiw-section h1 {
    font-size: 25px;
    line-height: 1.4em;
    margin-bottom: 70px;
  }

  .reveiw-section .reveiw-card .reveiw-card-content .quote-image {
    width: 30px;
    height: 22px;
    margin-top: -11px;
  }

  .reveiw-section .reveiw-card .reveiw-card-content h5 {
    margin-top: 5px;
    font-size: 18px;
    line-height: 1.5em;
  }

  .reveiw-section .reveiw-card .reveiw-card-content {
    padding: 0 19px 20px;
  }

  .reveiw-section .reveiw-card .reveiw-card-content .toppng-five-image {
    width: 100px;
    height: 20px;
  }

  .reveiw-section .reveiw-card .reveiw-card-content .avatar p {
    font-size: 12px;
  }

  .reveiw-section .reveiw-card .reveiw-card-content .avatar p img {
    width: 15px;
    height: 15px;
  }

  .supplement-section {
    padding: 50px 0 60px 0;
  }

  .supplement-section h1 {
    font-size: 25px;
    line-height: 1.4em;
  }

  .supplement-section .supplement-card .quote-image {
    width: 40px;
    height: 29px;
    top: -14px;
  }

  .supplement-section .supplement-card h5 {
    font-size: 20px;
    line-height: 1.3em;
  }

  .formula-section {
    padding-top: 55px;
    padding-bottom: 68px;
  }

  .formula-section h1 {
    padding: 0;
    font-size: 25px;
    line-height: 1.4em;
    margin-bottom: 40px;
  }

  .formula-section .formula-description h4 {
    font-size: 20px;
    line-height: 1.3em;
  }

  .formula-section .formula-description {
    max-width: 100%;
  }

  .formula-section hr {
    margin: 60px auto;
    width: 100%;
  }

  .formula-section .premium-cider {
    width: 100%;
  }

  .formula-section .premium-cider .premium-description {
    padding: 30px 18px 33px;
  }

  .formula-section .premium-cider .premium-description h3 {
    font-size: 20px;
  }

  .formula-section .premium-cider .premium-description p {
    font-size: 14px;
    line-height: 1.5em;
  }

  .formula-section .premium-cider .premium-description h4 {
    font-size: 18px;
    margin-top: 31px;
    padding: 10px 37px 10px 19px;
    margin-left: -17px;
    width: fit-content;
    background-size: 100% 100%;
  }

  .formula-offer-section h1 {
    font-size: 27px;
    line-height: 1.3em;
    margin-bottom: 35px;
  }

  .formula-offer-section h3 {
    font-size: 20px;
    margin-top: 10px;
  }

  .formula-offer-section ul {
    margin-top: 20px;
    margin-left: 0;
  }

  .formula-offer-section ul li {
    line-height: 1.25em;
  }

  .formula-offer-section ul li+li {
    margin-top: 23px;
  }

  .formula-offer-section ul li::after {
    top: 2px;
  }

  .formula-offer-section h5 {
    font-size: 20px;
    line-height: 1.5em;
    margin-top: 40px;
  }

  .formula-offer-section p {
    width: 100%;
    margin-top: 60px;
    padding: 22px 20px;
    font-size: 12px;
    line-height: 1.5em;
  }

  .formula-offer-section .logo-image {
    display: none;
  }

  .footer-section {
    padding: 54px 0;
  }

  .footer-section .footer-menu {
    display: flex;
    flex-flow: wrap-reverse;
  }

  .footer-section ul {
    padding: 0;
  }

  .footer-section ul li {
    font-size: 12px;
  }

  .footer-section .footer-contact .order-button {
    display: none;
  }

  .footer-section p {
    margin-top: 25px;
    font-size: 11px;
    line-height: 2em;
  }

  .header-section .navbar .contact-number img {
    width: 28px;
    height: 28px;
    margin-right: 5px;
  }

  .header-section .navbar .contact-number p {
    font-size: 9px;
  }

  .header-section .navbar .contact-number a {
    font-size: 13px;
    display: block;
  }

  .navbar-light .navbar-toggler-icon {
    width: 30px;
    height: 25px;
    background-size: 100% 100%;
  }

  .navbar-light .navbar-toggler {
    border: 0;
  }

  .secure-logo-images {
    position: absolute;
    bottom: -52px;
    left: 13%;
  }

  .hero-section {
    padding-top: 110px;
  }

  .uncomplete-banner-sectione {
    padding-top: 110px;
    padding-bottom: 30px;
  }

  .uncomplete-banner-sectione h6 {
    font-size: 16px;
    line-height: 1.5em;
    padding: 0 37px;
  }

  .uncomplete-banner-sectione h1 {
    font-size: 31px;
    line-height: 1.4em;
    margin-top: 20px;
  }

  .limited-offer-section {
    padding-top: 67px;
    padding-bottom: 80px;
  }

  .limited-offer-section h6 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5em;
  }

  .limited-offer-section h1 {
    font-size: 36px;
  }

  .limited-offer-section p {
    font-size: 16px;
    padding: 0 20px;
    line-height: 1.5em;
    margin-top: 30px;
  }

  .limited-offer-section .bhb-max-content h2 {
    font-size: 27px;
    line-height: 1.3em;
  }

  .limited-offer-section .bhb-max-content {
    margin-left: 0px;
    padding-right: 0px;
  }

  .limited-offer-section .bhb-max-content ul {
    margin-top: 20px;
    padding-left: 32px;
  }

  .limited-offer-section .bhb-max-content ul li {
    font-size: 14px;
    line-height: 3em;
  }

  .limited-offer-section .bhb-max-content ul li::after {
    top: 10px;
  }

  .login-section .login-container::after {
    top: -26px;
    left: 0%;
    width: 100%;
    height: 75px;
  }

  .login-section h2 {
    font-size: 23px;
    position: relative;
    top: -6px;
  }

  .bhb-gummies-section .step3-tac .custom-control-label::before {
    left: -20px;
    top: -1px;
  }

  .login-section .bhb-offer-content h3 {
    font-size: 27px;
    margin-top: 35px;
    line-height: 1.3em;
  }

  .login-section .bhb-offer-content p {
    font-size: 16px;
    margin-top: 26px;
    line-height: 1.3em;
  }

  .login-section .bhb-offer-content .bhb-offer-list {
    margin-top: 50px;
    padding: 0;
  }

  .login-section .bhb-offer-content {
    width: 95%;
  }

  .login-section .bhb-offer-content .bhb-offer-list li {
    padding: 26px 11px 26px 47px;
    font-size: 15px;
    line-height: 1.5em;
    margin-bottom: 26px;
  }

  .bhb-offer-section {
    padding-bottom: 42px;
  }

  .bhb-gummies-section {
    padding-top: 60px;
  }

  .bhb-gummies-section h1 {
    font-size: 27px;
    padding: 0 10px;
    line-height: 1.3em;
  }

  .bhb-gummies-section p {
    font-size: 16px;
    line-height: 1.3em;
  }

  .bhb-gummies-section .bhb-gummies-content {
    display: block;
    width: 100%;
    padding-bottom: 40px;
  }

  .bhb-gummies-section .bhb-gummies-content img {
    width: 266px;
    display: block;
    margin: 0 auto;
  }

  .bhb-gummies-section .bhb-gummies-content ul {
    padding-left: 32px;
    margin-top: 20px;
  }

  .bhb-gummies-section .bhb-gummies-content ul li {
    font-size: 16px;
    line-height: 1.3em;
  }

  .bhb-gummies-section .bhb-gummies-content ul li+li {
    margin-top: 20px;
  }

  .bhb-gummies-section .bhb-gummies-content ul li::after {
    top: 2px;
  }


  .bhb-gummies-section .bhb-runing-offer-content p {
    font-size: 18px;
    margin: 0;
    line-height: 1.25em;
    padding: 0px 50px;
  }

  .bhb-gummies-section .bhb-runing-offer-content h1 {
    font-size: 35px;
    line-height: 1.5em;
  }

  .bhb-gummies-section .bhb-runing-offer-content .bhb-runing-offer-card {
    width: 100%;
    margin-top: 39px;
    padding: 50px 25px;
  }

  .bhb-gummies-section .bhb-runing-offer-content .bhb-runing-offer-card h3 {
    font-size: 20px;
    line-height: 1.5em;
  }

  .bhb-gummies-section .bhb-runing-offer-content .bhb-runing-offer-card .complete-order {
    width: 100%;
    font-size: 18px;
    padding: 18px 40px;
    margin-top: 30px;
  }

  .bhb-gummies-section .bhb-runing-offer-content .bhb-runing-offer-card .subscription-terms p {
    margin-top: 26px;
    padding: 0;
    font-size: 11px;
  }

  .bhb-gummies-section .bhb-runing-offer-content .bhb-runing-offer-card .subscription-terms p img {
    width: 17px;
    height: 17px;
    margin-right: 2px;
  }

  .bhb-gummies-section .bhb-runing-offer-content .bhb-runing-offer-card p {
    font-size: 9px;
    padding: 0;
    margin-top: 30px;
    line-height: 1.5em;
  }

  .bhb-gummies-section .accelerate-results {
    margin-top: 33px;
    font-size: 14px;
    line-height: 1.5em;
  }

  .page-description-section {
    padding-top: 85px;
    padding-bottom: 50px;
  }

  .page-description-section p {
    width: 100%;
    padding: 23px 20px;
    font-size: 12px;
    line-height: 1.5em;
  }

  .thanksyou-hero-section h1 {
    font-size: 31px;
    line-height: 1.4em;
  }

  .thanksyou-hero-section {
    padding-top: 90px;
    padding-bottom: 60px;
  }

  .thanksyou-hero-section h4 {
    font-size: 22px;
    margin-top: 17px;
  }

  .thanksyou-hero-section .register-button p {
    font-size: 18px;
    margin-bottom: 50px;
  }

  .thanksyou-hero-section .register-button p img {
    width: 15px;
    height: 15px;
  }

  .thanksyou-hero-section .thanksyou-hero-product-image {
    height: auto;
    margin-right: 0;
    margin-top: 0;
  }

  .thanksyou-hero-section .thanksyou-hero-list {
    padding: 0;
    margin-top: 20px;
  }

  .thanksyou-hero-section .thanksyou-hero-list li {
    width: 100%;
    font-size: 13px;
    margin-bottom: 20px;
  }

  .login-section h5 {
    font-size: 23px;
    line-height: 1.5em;
    margin-top: 40px;
  }

  .login-section input {
    width: 100%;
    padding: 15px;
    margin-top: 25px;
  }

  .login-section .submit-button {
    width: 100%;
    height: 70px;
    font-size: 20px;
    line-height: 1.5px;
    margin-top: 25px;
  }

  .login-section .description h3 {
    font-size: 20px;
    line-height: 1.5em;
  }

  .login-section .description {
    margin-top: 35px;
  }

  .login-section .description ul {
    margin: 0px;
  }

  .login-section .description ul li {
    font-size: 15px;
    line-height: 1.5em;
    margin-top: 23px;
  }

  .login-section .description ul li::after {
    top: 0px;
  }

  .login-section {
    padding-bottom: 60px;
  }

  .reminder-content-section h6 {
    font-size: 16px;
    line-height: 1.5em;
  }

  .reminder-content-section h1 {
    font-size: 31px;
    line-height: 1.4em;
  }

  .reminder-content-section .nav-pills .nav-item {
    width: 100%;
  }

  .reminder-content-section .nav-pills .nav-item .nav-link-first {
    border-radius: 58px 58px 0 0;
    margin-left: 0;
  }

  .reminder-content-section .nav-pills .nav-item .nav-link {
    width: 100%;
    margin-left: 0;
    margin-top: 15px;
  }

  .reminder-content-section .nav-pills .nav-item .nav-link-last {
    border-radius: 0px 0 58px 58px;
  }

  .reminder-content-section .nav-pills {
    width: 100%;
    margin: 0;
  }

  .reminder-content-section .next-tab-button {
    background-color: #009B43;
    width: 100%;
    height: 70px;
    margin-top: 40px;
    font-size: 25px;
  }

  .order-hero-section h1 {
    font-size: 31px;
    line-height: 1.4em;
  }

  .order-hero-section p {
    line-height: 1.3em;
    font-size: 20px;
    margin-top: 20px;
  }

  .order-hero-section h3 {
    line-height: 1.5em;
    font-size: 20px;
    top: -7px;
    padding: 20px 0;
  }

  .order-commit-section {
    padding-top: 68px;
  }

  .order-commit-section h1 {
    font-size: 27px;
    line-height: 1.3em;
  }

  .order-commit-section p {
    font-size: 18px;
    margin-top: 20px;
    line-height: 1.5em;
  }

  .order-unlock-power-section img {
    height: auto;
    position: static;
    margin-top: -133px;
  }

  .order-unlock-power-section h1 {
    font-size: 27px;
    line-height: 1.3em;
    margin-top: 30px;
  }

  .order-unlock-power-section ul li {
    font-size: 16px;
    line-height: 2.7em;
  }

  .order-unlock-power-section ul {
    margin-top: 20px;
  }

  .order-transform-section h1 {
    font-size: 27px;
    line-height: 1.3em;
  }

  .order-transform-section {
    padding-top: 96px;
    padding-bottom: 67px;
  }

  .order-transform-content {
    width: 100%;
  }

  .order-transform-section .transform-section-image {
    width: 100%;
    margin-top: 25px;
  }

  .order-transform-section hr {
    width: 90%;
    margin: 60px auto;
  }

  .order-transform-section p {
    font-size: 14px;
  }

  .order-transform-section .transform-product {
    position: static;
  }

  .order-transform-section ul {
    margin-top: 36px;
  }

  .order-transform-section ul li {
    font-size: 19px;
  }

  .important-section {
    padding-top: 86px;
    padding-bottom: 70px;
  }

  .important-section .container {
    padding: 0;
  }

  .important-section h1 {
    background: transparent linear-gradient(90deg, #FFFFFF05 0%, #FFFFFF 47%, #FFFFFF00 100%);
    font-size: 40px;
    line-height: 1.5em;
  }

  .important-section h3 {
    font-size: 25px;
    line-height: 1.5em;
  }

  .important-section p {
    font-size: 18px;
    line-height: 1.5em;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .important-section .important-card {
    margin: 0 auto;
    width: 86%;
    margin-bottom: 35px;
  }

  .important-section .important-card p {
    font-size: 14px;
  }

  .comparison-section h1 {
    font-size: 27px;
    line-height: 1.3em;
  }

  .comparison-section {
    padding-top: 47px;
    padding-bottom: 108px;
  }

  .comparison-section .comparison-product-content {
    width: 100%;
    margin-bottom: 80px;
  }

  .comparison-section .comparison-product-content .comparison-product {
    height: fit-content;
  }

  .comparison-section .comparison-product-content .comparison-product-keto-cider {
    height: fit-content;
  }

  .comparison-section .comparison-product-content .comparison-product-keto-cider:last-child {
    margin-bottom: 80px;
  }

  .combo-section button {
    width: 100%;
  }

  .combo-section .form-step .form-content button {
    width: 100%;
  }

  .comparison-section .description p {
    padding: 0;
    font-size: 16px;
    line-height: 1.6em;
  }

  .comparison-section .description p+p {
    margin-top: 20px;
  }

  .comparison-section .description img {
    width: 100%;
  }

  .sustainable-section h1 {
    font-size: 27px;
    line-height: 1.3em;
  }

  .sustainable-section p {
    font-size: 16px;
    padding: 0;
    line-height: 1.6em;
  }

  .sustainable-section {
    padding-top: 66px;
  }

  .ordercartin .cartfoot {
    flex-flow: column;
  }

  #orderform-payment_processor .custom-control-label {
    flex-flow: column;
    width: auto;
  }

  #orderform-payment_processor input:checked+.custom-control-label {
    width: auto;
  }

  .ppbtn button#submitBtn {
    width: 100%;
    width: 100%;
    font-size: 24px;
    height: 90px;
  }

  #orderform-payment_processor input:checked+.custom-control-label {
    flex-flow: column;
  }

  .sustainable-section .sustainable-product {
    padding: 0;
  }

  .sustainable-section .sustainable-product .sustainable-product-card img {
    margin-top: -148px;
    padding: 0;
  }

  .sustainable-section .sustainable-product .sustainable-product-card h5 {
    font-size: 20px;
    line-height: 1.1em;
  }

  .combo-section h1 {
    font-size: 27px;
    line-height: 1.3em;
    margin-bottom: 25px;
  }

  .combo-section p {
    padding: 0;
    font-size: 14px;
    line-height: 1.5em;
  }

  .combo-section .badge-logo img {
    width: 255px;
    margin: 0 auto;
  }

  .combo-section .badge-logo {
    text-align: center;
  }

  .combo-section hr {
    margin: 97px auto 86px;
    width: 96%;
  }

  .combo-section .select-card {
    width: 100%;
    margin-bottom: 81px;
  }

  .combo-section .select-card img+img {
    margin-top: 25px;
  }

  .combo-section .form-step {
    width: 100%;
  }

  .combo-section .form-step .form-content {
    padding: 40px 31px;
  }

  .combo-section .form-step .form-content .country-input {
    display: block;
  }

  .combo-section .form-step .form-content .country-input div {
    width: 100%;
  }

  .combo-section .form-step .form-content .country-input div+div {
    width: 100%;
    margin: 0;
  }

  .combo-section .form-step .form-header h1 {
    font-size: 22px;
  }

  .combo-section .form-step .form-header p {
    font-size: 16px;
    margin-left: 13px;
  }

  .combo-section .form-step .form-header {
    padding: 37px 12px;
  }

  .combo-section .form-step-2 .form-content input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .combo-section .form-step-2 label img {
    margin-left: 0;
  }

  .combo-section .combo-summary {
    width: 100%;
    margin: 0 auto;
    margin-top: 80px;
  }

  .combo-section .combo-summary h2 {
    font-size: 25px;
  }

  .combo-section .combo-summary .summary-content img {
    width: 80px;
  }

  .combo-section .combo-summary .summary-content .free-delivery {
    width: 70px;
    height: 70px;
  }

  .combo-section .combo-summary .summary-content h4 {
    font-size: 19px;
  }

  .combo-section .combo-summary .summary-content p {
    font-size: 12px;
  }

  .combo-section .combo-summary .summary-content h6 {
    font-size: 16px;
  }

  .combo-section .combo-summary .right-content {
    margin-top: 30px;
  }

  .combo-section .combo-summary .price-bottom {
    display: block;
  }

  .combo-section .combo-summary .price-bottom>div {
    margin-top: 20px;
    align-items: center;
  }

  .combo-section .combo-summary .price-bottom div img {
    height: 39px;
  }

  .combo-section .conditions {
    margin-top: 60px;
    width: 100%;
  }

  .combo-section .conditions p {
    font-size: 18px;
  }

  .combo-section .description p {
    font-size: 14px;
  }

  .combo-section .description-card p {
    width: 100%;
  }

  .combo-section button {
    font-size: 29px;
  }

  .form-controls .col-md-6 {
    padding: 0;
  }

  .combo-section .secure-logo-images {
    transform: translatex(0);
  }

  .checkoutltv-page .section-1 ul.quiz-tabs li {
    width: 100%;
  }

  .checkoutltv-page .section-1 ul.quiz-tabs li:first-child {
    border-radius: 58px 58px 0px 0px;
    margin-top: 0;
  }

  .checkoutltv-page .section-1 ul.quiz-tabs li:last-child {
    border-radius: 0px 0px 58px 58px;
  }

  .checkoutltv-page .section-1 ul.quiz-tabs li {
    margin: 0;
    margin-top: 20px;
  }

  .c-web-form__control-group {
    display: none;
  }
}

@media screen and (min-width:600px) and (max-width:991px) {

  .secure-logo-images {
    position: absolute;
    bottom: -52px;
    left: 50%;
    transform: translateX(-50%);
  }

  #orderform-payment_processor input:checked+.custom-control-label {
    display: flex !important;
    width: auto;
  }

  #orderform-payment_processor .custom-control-label {
    display: flex !important;
  }

  .checkoutltv-page .section-1 ul.quiz-tabs li {
    width: 17%;
  }

  .checkoutltv-page .section-1 ul.quiz-tabs li:first-child {
    border-radius: 58px 0px 0px 0px;
    margin-top: 0;
  }

  .checkoutltv-page .section-1 ul.quiz-tabs li:last-child {
    border-radius: 0px 58px 0px 0px;
  }

  .checkoutltv-page .section-1 ul.quiz-tabs li {
    margin-left: 24px;
    margin-top: 0px;
  }

  .hero-section .hero-content h1 {
    text-align: center;
  }

  .hero-section .hero-content p {
    text-align: center;
    margin: 0 auto;
  }

  .hero-section .hero-container .hero-product-image {
    margin: 30px auto 0;
    display: block;
  }

  .results-section .results-container img {
    display: block;
    margin: 60px auto 0;
  }

  .formula-offer-section img {
    max-width: 500px;
    display: block;
    margin: 0 auto;
  }

  .formula-offer-section .secure-logo-images {
    position: static !important;
    display: flex;
    transform: translate(0);
  }

  .footer-section .footer-logo {
    width: 300px;
    margin: 0 auto 20px;
    display: block;
  }

  .footer-section p {
    text-align: center;
  }

  .order-unlock-power-section img {
    display: block;
    max-width: 500px;
    margin: -190px auto 0;
  }

  .order-unlock-power-section h1 {
    text-align: center !important;
  }

  .order-transform-section .transform-product {
    margin: 0 auto;
    display: block;
    max-width: 500px;
  }

  .comparison-section .description img {
    max-width: 500px;
    display: block;
    margin: 54px auto 0;
  }

  .sustainable-section .sustainable-product .sustainable-product-card img {
    max-width: 500px;
    transform: translateX(21%);
  }

  .thanksyou-hero-section .thanksyou-hero-product-image {
    max-width: 500px;
    margin: 0 auto;
    display: block;
  }

  .limited-offer-section img {
    display: block;
    margin: 0 auto;
    max-width: 500px;
  }


  .formula-section .premium-cider {
    max-width: 500px;
  }

  .comprehensive-section .comprehensive-product {
    margin: 0 auto;
    display: block;
    max-width: 500px;
  }

  .comprehensive-section .comprehensive-vector {
    position: relative;
    top: -56px;
    left: 16%;
    max-width: 500px;
  }

  .formula-section h1 {
    max-width: 480px;
  }

  .formula-section .title-2 {
    max-width: 440px;
  }

  .ordercartin .cartfoot .left {
    max-width: 240px;
  }

  .step3-tac .custom-control-label::before {
    left: -24px !important;
  }
  .bhb-gummies-section .step3-tac .custom-control-label::before {
    left: 174px !important;
    top: -2px;
  }
}

@media screen and (min-width:992px) and (max-width:1050px) {
  .hero-section {
    padding-top: 75px;
  }
  .bhb-gummies-section .step3-tac .custom-control-label::before {
    left: 297px;
    top: -2px;
}

  .secure-logo-images {
    position: static;
  }

  .uncomplete-banner-sectione {
    padding: 60px 0;
  }

  .login-section .bhb-offer-content .bhb-offer-list li {
    padding: 26px 50px 26px 47px;
  }

  .footer-section p {
    margin-top: -40px;
  }

  .footer-section .footer-menu {
    display: block;
  }

  .footer-section .footer-logo {
    width: 300px;
  }

  .order-unlock-power-section img {
    position: absolute;
    top: 40px;
    left: -54px;
    height: 520px;
  }

  .order-transform-section .transform-section-image {
    width: 775px;
    display: block;
    margin: 0 auto;
    margin-top: 48px;
  }

  .comparison-section .description img {
    margin: 0 auto;
    width: 544px;
    margin-top: 54px;
    display: block;
  }

  .ordercartin .cartfoot {
    flex-flow: row;
  }

  .checkoutltv-page .section-1 ul.quiz-tabs li:first-child {
    border-radius: 58px 0px 0px 0px;
    margin-left: 0;
  }

  .checkoutltv-page .section-1 ul.quiz-tabs li {
    width: 180px;
  }

  .checkoutltv-page .section-1 ul.quiz-tabs li {
    margin-top: 0;
    margin-left: 24px;
  }

  .checkoutltv-page .section-1 ul.quiz-tabs li:last-child {
    border-radius: 0px 58px 0px 0px;
  }

  .hero-section .hero-container .hero-product-image {
    position: absolute;
    top: -26px;
    right: 4px;
    height: 490px;
  }

  section .page-title {
    font-size: 43px !important;
  }

  .hero-section .hero-content p {
    font-size: 21px;
  }

  section .title {
    font-size: 32px !important;
  }

  .results-section .results-container img {
    position: absolute;
    top: 10%;
    left: 10px;
    max-width: 370px;
  }

  .offer-section .offer-card {
    flex-flow: row;
    margin-top: 66px;
  }

  .offer-section .offer-card img {
    width: 50% !important;
  }

  .comprehensive-section h1 {
    max-width: 760px;
    margin: 0 auto;
  }

  .comprehensive-section .comprehensive-product {
    left: 50px;
    width: 480px;
  }

  .comprehensive-section .comprehensive-vector {
    position: relative;
    top: -54px;
    left: 53px;
    width: 100%;
    max-width: 480px;
  }

  .comprehensive-section ul li {
    font-size: 21px;
    line-height: 2.29em;
  }

  .formula-section .premium-cider .premium-description h4 {
    margin-left: -42px;
  }
}

@media only screen and (max-width: 991px) {
  .planing-section .planing-content {
    padding: 25px 30px 55px;
  }

  .formula-offer-section .offer-button {
    width: 100%;
    font-size: 25px;
  }

  .order-commit-section h1 {
    max-width: 510px;
    margin: 0 auto;
  }

  .step3-tac .custom-control-label::before {
    left: 0;
  }
}